/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* Reset Style */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Colors */
  --violet: #7541c8;
  --light-violet: #a186cc;
  --very-dark-grayish-blue: #48556a;
  --very-dark-blackish-blue: #19212e;
  --white: #ffffff;
  --opacity50-white: rgb(236, 242, 248, 0.5);
  --opacity50-dark: rgb(72, 85, 106, 0.5);
  --opacity70-white: rgb(236, 242, 248, 0.7);
  --opacity70-dark: rgb(72, 85, 106, 0.7);
  --light-gray: #cfcfcf;
  --light-grayish-blue: #ecf2f8;

  /* Text */
  --font-size: 13px;
  --font-family: "Barlow Semi Condensed", sans-serif;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  background-color: var(--light-grayish-blue);
}

/* testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  padding: 7rem 0 0;
}

.verified-graduate {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.person {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.person__full-name {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
.title {
  font-size: 1.1rem;
}

.daniel {
  background-color: var(--violet);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 85% 0;
  background-size: 120px;
}
.patrick .person__full-name,
.jonathan .person__full-name,
.daniel .person__full-name {
  color: var(--light-grayish-blue);
}

.patrick .person .title,
.jonathan .person .title,
.daniel .person .title {
  color: var(--opacity50-white);
}

.description {
  font-size: 1.8rem;
  margin: 1.5rem 0;
  line-height: 1.5;
}

.patrick .description,
.jonathan .description,
.daniel .description {
  color: var(--white);
}

.testimonial {
  font-size: 1.3rem;
  line-height: 1.5;
}

.patrick .testimonial,
.jonathan .testimonial,
.daniel .testimonial {
  color: var(--opacity70-white);
}

.jonathan {
  background-color: var(--very-dark-grayish-blue);
}

.Jeanette,
.kira {
  background-color: var(--white);
}

.kira .person__full-name .Jeanette .person__full-name {
  color: var(--very-dark-grayish-blue);
}

.kira .person .title,
.Jeanette .person .title {
  color: var(--opacity50-dark);
}

.kira .description,
.Jeanette .description {
  color: var(--very-dark-grayish-blue);
}

.kira .testimonial,
.Jeanette .testimonial {
  color: var(--opacity70-dark);
}

.patrick {
  background-color: var(--very-dark-blackish-blue);
}
